<article class='post_card'>
  <h3 class='post_title'><%= post.title %> </h3>
  <p class='post_text'><%= post.text %></p>
  <div class='post_stats'>
    <p>Comments: <%= post.comments_counter || 0 %></p>
    <p>Likes: <%= post.likes_counter || 0 %></p>
  </div>
</article>