<article class='user_card'> 
  <%= image_tag user.photo, :class => 'user_photo', alt: 'User photo' %>
  <div class='user_card_info'>
    <h3 class='user_name'><%= link_to user.name, user_path(user) %></h3>
    <p class='user_posts'>Number of posts: <%= user.posts.count %></p>
  </div>
</article>