.users_posts,
.users_post_card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem;
}

.users_posts .user_card {
  flex-direction: column;
}

.users_posts .user_photo {
  border-radius: 50%;
}

.users_posts .user_card_info {
  justify-content: space-around;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.post_card:hover {
  background-color: #f5f5f5;
}

.users_posts .post_card {
  margin-top: 1rem;
}

.users_post_card .post_card {
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  gap: 2.5rem;
}

.post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}
